/* projects style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333; /* light blue-gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-project-cointainer {
    text-align: center;
    background-color: #ffffff; /* white card */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.main-project-cointainer h1 {
    color: #2c3e50; /* dark blue-gray */
    margin-bottom: 20px;
}

.main-project-cointainer img {
    width: 500px;
    height: auto;
    margin-bottom: 30px;
}

.stat {
    background-color: #47db34; /* bright blue */
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stat h2 {
    margin: 0;
    font-size: 1.2rem;
}


.stat h2 {
    margin: 0;
    font-size: 1.2rem;
}

.Desc p{
    line-height: 1.2rem;
}